<!DOCTYPE html>
<html>
<head>
    <title>Featured Products</title>
</head>
<body>
    <h1>Featured Products</h1>
    <div class="products-container">
        {% for product in featured_products %}
        <div class="product-card">
            <img class="product-image" src="{{ url_for('static', filename='Fashion_images/kurta.jpeg') }}" alt="{{ product.name }}">
            <div class="product-details">
                <p class="product-name">{{ product.name }}</p>
                <p class="product-price">Price: {{ product.price }}</p>
                <p class="product-description">{{ product.description }}</p>
                <form action="/add_to_cart/{{ user_id }}/{{ product.id }}" method="POST">
                    <input type="number" name="quantity" value="1" min="1">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="/view_cart/{{ user_id }}">View Cart</a>
    <a href="/display_products">Back to Products</a>
</body>
</html>
